#
# maintainer: "Alvaro Barcellos <alvaro.barcellos@cprm.gov.br>"
#
# base image for applications from debian-slim
#

version: '2.2'

networks:
    default:
    internal_hosts:
        external: true

services:
  
    debian-local:
        env_file: debian.env
        build: 
            context: ./
            dockerfile: Dockerfile.debian
        image: debian:buster-local
        container_name: debian.refer
        restart: unless-stopped
        stdin_open: true
        # tty: true
        networks:
            - internal_hosts 
        labels:
            org.cprm.component: debian.buster.local
            org.cprm.name: debian.buster.local
        environment:
            openjdk_DEFAULT_EMAIL: admin_docker@cprm.gov.br

